.section {
  height: 100vh;
  font-family:'Montserrat';
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.title {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70%;
}

.logo {
  /* text-align: center;
  margin: 2rem; */
}

.next {
  position: absolute;
  display: flex;
  /* justify-content: flex-end; */
  bottom: 20px;
  right: 100px;
}

.next > h2 {
  margin-bottom: 0.5rem;
}
