.section {
  position: relative;
  height: 100%;
  /* margin-top: 5%; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.bottomCard {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  bottom: 10px;
  right: 100px;
  animation: updown 2500ms ease-in-out infinite;
}

.bottomCard > h2 {
  font-weight: 600;
}

.arrow {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

@keyframes updown {
  0% { bottom: 10px }
  50% { bottom: 50px; }
  0% { bottom: 10px }
}

@media only screen and (max-width: 468px) {
  .logo {
    width: 70%;
  }
}
