.section {
  background-color: black;
  color: white;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  justify-content: center;
  text-align: center;
}

.container > h1 {
  margin: auto;
  padding: 5rem;
  font-size: 48px;
}

.itemBox {
  display: flex;
  justify-content:space-around;
}
