.section {
  background-color: black;
  color: white;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.section > h1 {
  margin: auto;
  padding: 5rem;
  font-size: 48px;
}

.itemBox {
  display: flex;
  justify-content: center;
}

.item {
  /* border-radius: 10px; */
  flex: none;
  margin: 2rem 2rem;
}