.section {
  background-color: #056FD8;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: auto;
}

.title {
  flex: none;
}

.title > h1 {
  padding: 2rem 0 0 0;
  font-size: 48px;
  font-weight: 800;
}

.windowBox {
  flex: auto;
  width: auto;
  position: relative;
}

.bottomCard {
  flex: none;
  display: flex;
  align-items: flex-end;
  margin: 2rem 0;
}

.hr {
  /* margin: 0 1rem; */
  height: 40px;
  flex: auto;
  border-top: 1px solid white;
}
@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
} 