.section {
  height: 100vh;
  background: #FFFFFF;
  border: 1px solid #000000;
}

.container{
  width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.title > h1 {
  padding: 5rem;
  font-size: 48px;
  font-weight: 800;
}

.itemBox {
  display: flex;
}

.item {
  width: 400px;
  height: 90px;
  background: #056FD8;
  font-size: 36px;
  font-weight: 600;
}