.section {
  position: relative;
  background: url('../../assets/frontCover.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container{
  width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.title > h1 {
  padding: 2rem 0 0 0;
  font-size: 48px;
  font-weight: 800;
}

.itemBox {
  margin: 4rem 0;
  display: ;
}

.item {
  /* margin: 0.5rem 1.5rem; */
  font-family: Montserrat;
  width: 23%;
  height: 70px;
  background: #056FD8;
  font-size: 32px;
  font-weight: 600;
  border: 2px solid #E2E2E2;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.item:hover {
  background: #E2E2E2;
  border: 2px solid #056FD8;
  color: #056FD8;
}