.section {
  background: url('../../assets/frontCover.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  border-bottom: 1px solid #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.p {
  transform: rotateY(45deg);
	animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}