.section {
  background: url('../../assets/frontCover.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* width: 100%; */
}