.box {
  position: absolute;
}
.boxCont {
  /* position: relative; */
}
.cardShadow {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  top: 15px;
  left: 15px;
}

.window {
  min-width: 250px;
  min-height: 125px;
}

.boxShadow {
  height: 30px;
  background: #FFFFFF;
  border-bottom: 1px solid #000000;
}

.window {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  text-align: start;
  background: #E2E2E2;
  border: 1px solid #000000;
  z-index: 20;
  
}

.topBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #000000;
}

.img {
  margin: 0 0.8rem;
  cursor: pointer;
}

.content {
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
  line-height: 2.5rem;
  padding: 2rem;
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .box {
    /* position: initial; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxCont {
    margin-top: 2rem;
  }
  .window {
    /* position: relative; */
    z-index: 10;
  }
}

@media screen and (max-width: 468px) {
  .box {
    /* position: initial; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxCont {
    margin-top: 2rem;
  }
  .window {
    /* position: relative; */
    z-index: 10;
  }
}