.section {
  background-color: #056FD8;
  height: 100vh;
  
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.item {
  flex: none;
  margin: 5rem 2rem;
}

@media (max-width: 1000px) {
  .container {
      flex-wrap: wrap;
  }
  .item {
      width: 80%;
  }   
}
/* 
@media (max-width: 500px) {
  .aboutImg {
      padding: 1rem;
  } */