.section {
  background-color: #056FD8;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.title > h1 {
  /* padding: 2rem 0 0 0; */
  font-size: 48px;
  font-weight: 800;
}

.itemsMarquee {
  display: flex;
  overflow: hidden;
  padding: 0 2rem;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  /* position: relative; */
}

.items {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 2rem;
  padding: 0 1rem;
  /* position: absolute; */
  overflow: hidden;
  animation: itemsMarquee 2s linear infinite;
}

.item {
  /* flex: none; */
  margin: 1rem 1rem;
}

@keyframes itemsMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-5%); }
}

.intro {
  flex: auto;
  margin: 1rem 0;
  width: 70%;
  line-height: 1.8rem;
  text-align: left;
}

.intro > h3 {
  font-weight: 400;
}

.marquee {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.marquee div {
  /* background: green; */
  display: flex;
  /* width: 300%; */
  position: absolute;
  overflow: hidden;
  animation: marquee 2s linear infinite;
}
.marqueeImage {
  height: 30px;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-5%); }
}
/* 
@media (max-width: 1000px) {
  .container {
      flex-wrap: wrap;
  }
  .item {
      width: 80%;
  }   
} */
/* 
@media (max-width: 500px) {
  .aboutImg {
      padding: 1rem;
  } */